
header{
   background-color: #71AEAE;
}

footer{
   background-color: #71AEAE;
}

h1{
   font-size: 28pt;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

img{
 
   height: 200px;  
   width:230px;   
    
}

h3{
   font-size: larger;
   text-align: center;
}

.p-2{
   height: 50px;
   width: 200px;
   background-color: #71AEAE;
}

.maincontain{
   width: max-content;
   background-color: #e5f3f3;
}

.card{
   width: 230px;
  height: 180px;
}

.heading{
   background-color: #e5f3f3;
   height: 100px;
   box-shadow: 10px 10px 5px lightblue;
}

main{
   background-color: #8BBABA;
   ;
   height: 180px; 
}

