/*head stylinhg*/

.head{
    padding: 20px;
    color: #000;
}

.logo h1{
    font-size: 35px;
    font-weight: 900;
}

.head .icon{
    margin-left: 10px;
}

/*header stylinhg*/

header{
    background-color: #ffffff33;
    margin: 0 30px;
    position: relative;
}

header ul{
    padding: 30px 20px;
}

header li{
    margin-right: 40px;
}

header ul li a {
    color: #000;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover{
    color: #fff;
}

.start{
    background-color: #71AEAE;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.toggle{
    display: none;
}

@media screen and (max-width:768px) {

    .head .icon{
        margin-left: 5px;
    }

    .start{
        clip-path: none;
    }

    header{
        margin: 0;
        background-color: #71AEAE;
        position: relative;
    }

    header ul.flexDirection{
        display: none;
    }

    header ul li{
        margin-bottom: 20px;
    }

    .toggle{
        display: block;
        background-color: #71AEAE;
        color: #000;
        font-size: 30px;
        position: absolute;
        right: 50px;
        top: -20px;
    }

    .mediaScreen{
        position: absolute;
        width: 100%;
        top: 8vh;
        left: 0;
        background-color: #71AEAE;
    }
}