
header{
   background-color: #71AEAE;
}

footer{
   background-color: #71AEAE;
}

h1{
   font-size: 26pt;
   color: #71AEAE;
   text-align: center;
}

img{
 
   height: 250px;  
   width: 250px;  
   justify-content: left;
  
}

h3{
   font-size: larger;
   color: #71AEAE;
   text-align: center;
}

.p-2{
   height: 50px;
   width: 300px;
   margin: auto;
   background-color: #71AEAE;
   display: flex;
}
