.navbar{
   background-color:   #71AEAE;
   
}

header{
   background-color: #71AEAE;
}

footer{
   background-color: #71AEAE;
}

h1{
   font-size: larger;
   color: #71AEAE;
   text-align: center;
}

button{
   color: #71AEAE;
   padding: 14px 25px;
   text-align: center;
   
}

img{
 
   height: 250px;  
   width: 250px;  
   text-align: left;

}

